.contenedorTarjeta {
    padding-left: 200px;
}

/* .home-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */







.tarjeta{
    background-color: rgb(14, 13, 13);
}

.textoNombreTarjeta{
    color: white;
}

.textoNombreCarrera{
    color: white;
}


.logogithub{
    width: 50px;
}

.logoX{
    width: 40px;
}

.tituloProyects{
    text-align: center;
}

.imagenProy1{
    padding: 0px 0px 0px 0px;
    width: 1000px;
    height: 600px;
}



.tituloSubscribe{
    text-align: center;
}



